Repository ScratchAddons/website-v2, pull requests merged in 2022-08, with the labels that each got.

#235 FAQ update
  content/docs/faq.md
Labels: type: enhancement, scope: docs

#248 Update FAQ version requirement
  content/docs/faq.md
Labels: scope: docs

#243 1.28 addon images
  static/assets/img/addons/better-emojis.png
  static/assets/img/addons/editor-devtools.png
  static/assets/img/addons/find-bar.png
  static/assets/img/addons/zebra-striping.png
Labels: type: enhancement, scope: content
