Repository ScratchAddons/website-v2, pull requests merged in 2022-07, with the labels that each got.

#223 Documentation fixes
  content/docs/develop/addon-types/userscripts.md
  content/docs/develop/addon-types/userstyles.md
Labels: scope: docs

#222 Header and footer refresh
  assets/assets/css/base.scss
  i18n/en.yaml
  layouts/partials/footer.html
  layouts/partials/nav.html
  static/assets/js/website-base.js
Labels: type: enhancement, scope: design

#232 Update 8 addon images
  static/assets/img/addons/cloud-games.png
  static/assets/img/addons/default-costume-editor-color.png
  static/assets/img/addons/editor-buttons-reverse-order.png
  static/assets/img/addons/forum-quote-code-beautifier.png
  static/assets/img/addons/hide-flyout.png
  static/assets/img/addons/hide-stage.png
  static/assets/img/addons/one-click-studio-invites.png
  static/assets/img/addons/project-info.png
Labels: type: enhancement, scope: content

#234 Add missing Edge store references
  content/docs/develop/getting-started/creating-an-addon.md
  content/docs/faq.md
  content/docs/getting-started/installing.md
  content/docs/policies/privacy/extension.md
  content/docs/policies/security.md
  content/docs/reference/addon-api/addon.tab/_index.md
  content/farewell.html
  content/welcome.html
Labels: type: enhancement, scope: content

#238 FAQ update : Change Stuff
  content/docs/faq.md
Labels: type: enhancement, scope: docs

#239 Some small changes to docs + table and row setting
  content/docs/develop/addon-types/userscripts.md
  content/docs/reference/addon-api/addon.self.md
  content/docs/reference/addon-manifest.md
Labels: type: enhancement, scope: docs
