Repository ScratchAddons/website-v2, pull requests merged in 2023-05, with the labels that each got.

#322 Fix dead links
  content/docs/develop/userscripts/_index.md
  content/docs/reference/addon-api/addon.tab/_index.md
  content/docs/reference/addon-api/addon.tab/addon.tab.traps.md
  content/docs/reference/addon-manifest.md
Labels: type: bug, scope: docs

#330 Change the type of `settings` to an Array
  content/docs/reference/addon-manifest.md
Labels: type: bug, scope: docs

#333 1.32 blog post
  content/blog/v1-32-released.md
  static/assets/img/release-highlights/dark-toolbar-icons.png
  static/assets/img/release-highlights/popup-backdrop.png
  static/assets/img/release-highlights/vol-slider-auto-hide.gif
Labels: scope: blog

#245 New images for addons
  static/assets/img/addons/default-project.png
  static/assets/img/addons/disable-auto-save.png
  static/assets/img/addons/disable-stage-drag-select.png
  static/assets/img/addons/remove-search-bar-autocomplete.png
  static/assets/img/addons/sprite-properties.png
Labels: type: enhancement, scope: content
