Repository ScratchAddons/website-v2, pull requests merged in 2023-08, with the labels that each got.

#311 Expand userstyle docs
  content/docs/develop/userstyles.md
  content/docs/develop/userstyles/_index.md
  content/docs/develop/userstyles/best-practices.md
  content/docs/develop/userstyles/debugging-userstyles.md
Labels: type: enhancement, scope: docs

#360 Add more addon images
  static/assets/img/addons/copy-reporter.png
  static/assets/img/addons/featured-dangos-v2.png
  static/assets/img/addons/necropost-highlighter.png
  static/assets/img/addons/number-pad.png
  static/assets/img/addons/op-badge.png
  static/assets/img/addons/remember-collapsed-categories.png
Labels: type: enhancement, scope: content

#369 Create blog post for v1.34
  content/blog/v1-34-released.md
  static/assets/img/blog/v1-34-released/increment-input.gif
  static/assets/img/blog/v1-34-released/like-2.png
  static/assets/img/blog/v1-34-released/messages-no-border.png
  static/assets/img/blog/v1-34-released/stop-to-drag.gif
  static/assets/img/blog/v1-34-released/underlined-link.png
Labels: type: enhancement, scope: blog

#375 Update images and add 1.34 addons
  static/assets/img/addons/60fps.png
  static/assets/img/addons/colorblind.png
  static/assets/img/addons/compact-editor.png
  static/assets/img/addons/custom-block-text.png
  static/assets/img/addons/forum-post-countdown.png
  static/assets/img/addons/live-featured-project.png
  static/assets/img/addons/message-filters.png
  static/assets/img/addons/progress-bar.png
  static/assets/img/addons/scratchblocks.png
Labels: type: enhancement, scope: content

#327 Refresh of index page
  assets/assets/css/landing.scss
  content/_index.html
  i18n/en.yaml
  layouts/_default/home.html
  static/assets/img/showcase/intro-hero.svg
  static/assets/img/showcase/popup-dark.png
  static/assets/img/showcase/popup-light.png
  static/assets/img/showcase/settings-dark.png
  static/assets/img/showcase/settings-light.png
  static/assets/js/landing.js
Labels: type: enhancement, help wanted, scope: content

#379 Update welcome page
  content/extension-settings.html
  content/welcome.html
  static/assets/img/getting-started/pin.png
  static/assets/img/getting-started/step-1.png
  static/assets/img/getting-started/step-2.png
  static/assets/img/getting-started/step-3.png
Labels: type: enhancement, scope: content

#380 Refresh of index page (2)
  i18n/en.yaml
  layouts/_default/home.html
Labels: type: enhancement, scope: content
