Repository ScratchAddons/website-v2, pull requests merged in 2024-02, with the labels that each got.

#412 Create blog post for v1.36.0
  content/blog/v1-36-released.md
  static/assets/img/blog/v1-36-released/fullscreen-toolbar-on-hover.mp4
  static/assets/img/blog/v1-36-released/reordering-parameters.mp4
Labels: type: enhancement, scope: blog

#414 Blog post: Use HTML video tags instead
  content/blog/v1-36-released.md
Labels: type: bug, scope: blog

#419 Docs: update list of languages that accept translators
  content/docs/localization/joining-the-localization-team.md
Labels: type: enhancement, scope: docs, scope: content

#405 Misc doc updates
  content/docs/develop/userscripts/best-practices.md
  content/docs/faq.md
  content/docs/reference/addon-api/addon.tab/_index.md
  content/docs/reference/addon-manifest.md
Labels: scope: docs

#416 Docs: Update instructions to join Transifex
  content/docs/localization/joining-the-localization-team.md
Labels: type: enhancement, scope: docs, scope: content

#418 Add "export settings" button to unsupported-browser page
  content/unsupported-browser.html
  static/assets/js/unsupported-browser.js
Labels: type: enhancement, scope: content
