Repository ScratchAddons/website-v2, pull requests merged in 2024-06, with the labels that each got.

#449 Update minimum browser versions in FAQ
  content/docs/faq.md
Labels: scope: docs

#456 Update list of languages that don't accept translators
  content/docs/localization/joining-the-localization-team.md
Labels: scope: docs

#451 Update some addon images to purple
  static/assets/img/addons/animated-thumb.png
  static/assets/img/addons/dark-www.png
  static/assets/img/addons/emoji-picker.png
  static/assets/img/addons/mediarecorder.png
  static/assets/img/addons/one-click-studio-invites.png
  static/assets/img/addons/onion-skinning.png
  static/assets/img/addons/paint-snap.png
  static/assets/img/addons/redirect-mobile-forums.png
  static/assets/img/addons/scratchr2.png
  static/assets/img/addons/search-profile.png
  static/assets/img/addons/studio-followers.png
Labels: scope: content

#389 Add Addon Docs
  assets/assets/css/docs.scss
  assets/assets/css/markdown.scss
  assets/assets/css/parts/docs-addons.scss
  content/addons/_index.html
  content/addons/middle-click-popup.md
  i18n/en.yaml
  layouts/addons/_markup/render-heading.html
  layouts/addons/baseof.html
  layouts/addons/section.html
  layouts/addons/single.html
  layouts/docs/addons.html
  layouts/partials/docs/addons-infobox.html
  layouts/shortcodes/docs/outdated-page.html
  layouts/shortcodes/docs/outdated-section.html
  layouts/shortcodes/docs/stub-page.html
  layouts/shortcodes/docs/stub-section.html
  layouts/shortcodes/specifics/addons.html
Labels: type: enhancement, scope: docs, scope: content

#458 Add comment
  content/docs/localization/joining-the-localization-team.md
Labels: type: bug, scope: docs

#461 Add more links of addons on Addons page
  i18n/en.yaml
  layouts/shortcodes/specifics/addons.html
Labels: type: enhancement, scope: content
